.top-margined {
    margin-top: 50px;
}

.top-margined-mini {
    margin-top: 18px;
}

.content {
    border-right: dashed;
    border-left: dashed;
    border-radius: 20px;
    min-height: 920px;
    padding: 20px 20px;
}

.edit-zone {
    width: 100%;
    height: 420px;
}

.dolan {
    height: 90px;
    text-align:center;
    background-image: url('../dolan.png');
    background-repeat:no-repeat;
    background-position:center; 
}

.avatar {
    width: 170px;
}

#inline-link  {
    display: inline;
}
