{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="span5 offset1">
            <div class="thumbnail avatar">
                <img id="me-photo" src="http://a8.sphotos.ak.fbcdn.net/hphotos-ak-snc7/c0.59.403.403/p403x403/600804_101643029978220_1476874815_n.jpg" alt="fric">
            </div>
        </div>
        <div class="span5 offset1">
            <ul class="nav nav-pills nav-stacked">
                <li><h2 class="lead"> Calin Paul Alexandru </h2></li>
                <li><h3 class="lead"><i class="icon-envelope"></i> thewickedfreak@gmail.com</h3></li>
                <li><h3 class="lead"><i class="icon-user"></i> (+40)755168316</h3></li>
                <li><h3 class="lead"><i class="icon-map-marker"></i> Cluj-Napoca, Romania </h3></li>
            </ul>
        </div>
    </div>
    <div clas="row">
        <div class="span12">
        <ul class="nav nav-list">
            <li class="nav-header">Education</li>
            <li><a href="http://www.moisilbrasov.ro/" id="inline-link">National College of Computer Sciences "Grigore Moisil", Brasov, Romania</a> <em>2005 - 2009</em></li>
            <li>Achievments: In 2006 I had the honor to lead our junior team in the <strong>American Computer Science League</strong> held in Cincinnati, Ohio. They were still teaching Pascal back then but I managed to learn basic <strong>C++</strong> on my own and in 2008 I scored 21st in the <strong>National Olympiad of Computer Sciences</strong>. Other than that, I had the pleasure to build a whole number of the <strong>school magazine</strong>, work on the <strong>school website</strong> and manage the <strong>forum</strong>.<li>
            <li><a href="http://cs.ubbcluj.ro" id="inline-link">"Babes-Bolyai" University, Cluj-Napoca, Romania</a> <em>2009-2012</em></li>
            <li>Achievments: When I got to college I was introduced with linux systems and have been a <strong>Ubuntu</strong> user till 2011 when I went for <strong>OS X</strong>. During the 3 years I qualified for <strong>ACM</strong> nationals 2 times and trained myself in various other algoritmic contest. 2012 was a great last year, winning <strong>Startup Weekend</strong> Cluj-Napoca and the <strong>Social Hackathon</strong> organised by Hermes.</li>
            <li><a href="/static/ai-class.pdf" id="inline-link">Stanford Online: Introduction to Artificial Intelligence</a> <em>Fall 2011</em></li>
            <li>Taught by <em>Sebastian Thurn</em> (research prof. at Stanford and Google fellow) and <em>Peter Norvig</em> (director of research at Google). It was a great place to learn some interesting new algorithms as well as better deepen ones I already knew.</li>
            <li><a href="/static/db-class.pdf" id="inline-link">Stanford Online: Intorduction to Databases</a> <em>Fall 2011</em></li>
            <li>Taught by Jennifer Widom (Chair of the Computer Science Department at Stanford University. Everything form relational algebra through XML and up to NO-SQL system prezented in a complete and organised matter.</li>
            <li><a href="/static/cs101.pdf" id="inline-link">Udacity: CS101, Building a search engine</a> <em>Winter 2012</em></li>
            <li>Taught by Dave Evans (prof. at University of Virginia and lead researcher in computer security). This was the perfect class for understanding how the Web aswell as a  <strong>Python</strong> introduction.</li>
            <li><a href="" id="inline-link">Udacity: CS212, Design of Computer Programs</a> <em>Spring 2012</em></li>
            <li>Taught by Peter Norvig. Great design patterns, efficiently using powerful Python tools and much more that helped me move from novice level a significant step farward. </li>
            <li><a href="" id="inline-link">Udacity: CS253, Web Application Engineering</a> <em>Spring 2012</em></li>
            <li>Taught by Steve Huffman (co-founder of <strong>Reddit</strong> -- one of my favorite sites, and Hipmunk). Probably the best web course out there. It has been a great intorduction to the <strong>Google AppEngine</strong>, web frameworks, lots of good practices and what not.</li>
            <li class="divider"></li>
            <li class="nav-header">Working Experience</li>
            <li><a href="http://temasoft.ro" id="inline-link">Temasoft</a> <em>February 2011 - April 2012</em></li>
            <li>GFI EventsManager: started in <strong>C#</strong> and .NET technologies. Most of my work was concering databases and windows event logs.</li>
            <li>GFI DeviceWarden: <strong>C#/C++</strong> with a focus on bug fixing and code maintaining. </li>
            <li class="divider"></li>
            <li class="nav-header">Projects</li>
            <li><a href="http://usetogether.ro" id="inline-link">UseTogether</a> having won Startup Weekend, we started building this collaborative consumption platform. We are using <strong>Django</strong> as a framework and all sorts of cool libraries we find. A public beta will be available late July 2012.</li>
            <li><a href="https://bitbucket.org/fmoga/servustalk/" id="inline-link">ServusTalk</a> is an open source complex web chat application built by some friends and I using <strong>node.js</strong> as a backend and mostly javascript. Our repository is available at https://bitbucket.org/fmoga/servustalk/</li>
            <li class="divider"></li>
            <li class="nav-header">Other hobbies</li>
            <li>I really ♥ nature. Hiking and mountain biking are among my favorite outdoor activities. I also enjoy playing <a href="http://en.wikipedia.org/wiki/Ultimate_(sport)" id="inline-link">Ultimate frisbee</a>. When not outside I relax by listening to electronic music or playing with sounds in daw's such as fruity loops or ableton live.</li> 
        </ul>
        </div>
    </div>
{% endblock %}
